---
import Layout from '@/layouts/Layout.astro';
import LanguagePicker from '@/components/landing/LanguagePicker';
import MapLink from '@/components/landing/MapLink';
import { campuses } from '@/types/map';

export function getStaticPaths() {
  return [{ params: { lang: 'en' } }, { params: { lang: 'ko' } }];
}

import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import { ChevronDown, Languages } from 'lucide-react';
import { languages } from '@/i18n/ui';
import ThemePicker from '@/components/ThemePicker';
import Footer from '@/components/Footer.astro';
import { Image } from 'astro:assets';
import landingBgImage from '@/assets/public/landing-bg.png';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout>
  <Fragment slot="head">
    <link rel="preload" as="image" href={landingBgImage.src} />
  </Fragment>
  <div class="absolute top-0 right-0 bottom-0 left-0 -z-10">
    <Image
      src={landingBgImage}
      alt=""
      class="h-full w-full object-cover"
      loading="eager"
    />
  </div>
  <div
    class="absolute top-8 left-1 z-10 flex items-center text-foreground/70 md:left-4"
  >
    <LanguagePicker client:load lang={lang} align="start">
      <>
        <Languages className="size-4.5" />
        {languages[lang]}
        <ChevronDown className="size-3.5" />
      </>
    </LanguagePicker>
    <ThemePicker client:load />
  </div>
  <main
    class="relative flex h-svh w-fit flex-col items-center justify-center gap-8 px-6 md:px-12"
  >
    <div class="min-w-none relative w-full text-left">
      <h1 class="text-4xl font-bold">{t('site.title')}</h1>
      <p class="mt-0.5 text-lg leading-6 text-foreground/60">
        {t('home.description')}
      </p>
      <div class="mt-4 flex flex-row justify-start gap-1.5">
        {
          campuses.map((campus) => {
            return <MapLink client:load campus={campus} lang={lang} />;
          })
        }
      </div>
    </div>
    <div
      class="absolute top-0 -right-88 bottom-0 left-0 -z-10 max-w-dvw bg-background/70 sm:bg-background/78 sm:mask-r-from-40% sm:mask-r-to-100%"
    >
    </div>
  </main>
  <Footer />
</Layout>
